.hidden {
    visibility: hidden;
    display: none;
}

.buttonContainer {
    position: relative;
}

#start {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.container {
    margin-top: 30px;
}

.videoCol {
    margin-top: 100px;
}

ol.lead > li {
    line-height: 28px;
}

.choice {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.nav-tabs-center > li, .nav-pills-center > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs-center, .nav-pills-center {
    text-align:center;
}

.progress.vertical {
    margin:5px auto;
    height: 100px;
    width: 30px;
}
.bar.bar-info {
    background:none;
    width:100%
}

.bar.bar-success {
    width:100%
}

#bar-empty {
    height: 100%
}

#bar-full {
    height: 0%;
}

#vs {
    margin-top:50px;
}